.Button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_POSITIVE {
    background-color: #9dd25c;
    color: white;
}

.Button_NEGATIVE {
    background-color: rgb(254, 93, 101);
    color: white;
}